// Colors
$primaryBgColor: #ffffff;
$secondaryBgColor: #2f303a;
$alfaColor: #212121;
$bravoColor: #757575;
$charlieColor: #000000;
$deltaColor: #ffffff99;
$accentColor: #2196f3;
$teamColor: #f5f4fa;
$navBrColor: #ececec;
$galleryBrColor: #eeeeee;
$customersBrColor: #afb1b8;

// Fonts
$fontFamily: 'Roboto', sans-serif;
$fontLogo: 'Raleway', sans-serif;
